<h1><%= @place.name %></h1>

<h3>Places</h3>
<ul>
    <% for place in @place.posts %>
        <li>
            <%= place.name %>
        </li>
    <% end %>
</ul>

<a href="/posts/new?place_id=<%= @place.id %>">Add Place</a>

<a href="/places">Back to all places</a>